asn1crypto      0.24.0
certifi         2018.4.16
cffi            1.11.5
chardet         3.0.4
Click           7.0
conda           4.5.4
cryptography    2.2.2
DAWG-Python     0.7.2
docopt          0.6.2
idna            2.6
menuinst        1.4.14
numpy           1.16.2
Pillow          5.4.1
pip             19.3.1
pycosat         0.6.3
pycparser       2.18
pygame          1.9.6
pymorphy2       0.8
pymorphy2-dicts 2.4.393442.3710985
pyOpenSSL       18.0.0
PyQt5           5.13.0
PyQt5-sip       4.19.19
pyqt5-tools     5.13.0.1.5
PySocks         1.6.8
python-dotenv   0.10.3
pywin32         223
requests        2.18.4
ruamel-yaml     0.15.37
setuptools      39.2.0
six             1.11.0
urllib3         1.22
wheel           0.31.1
win-inet-pton   1.0.1
wincertstore    0.2